# Binaries for programs and plugins
*.so
*.dylib
.DS_Store
.AppleDouble
.LSOverride
.idea
Icon

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
