[Unit]
Description=My Test1 service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/clmgr/resources/
ExecStart=/opt/clmgr/resources/test1 --option=123
Restart=no

[Install]
WantedBy=multi-user.target