[Unit]
Description=My Test1 service
After=network.target

[Service]
Type=simple
User=rot
WorkingDirectory=/home/
ExecStart=/home/test1 --option=123
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target